name: Build and Push

on:
  push:
    branches: [ "master", "eo-dev" , "eo-dev-*" ]
    tags: [ "eo-v*.*.*" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Determine Docker tags
        id: tags
        run: |
          IMAGE_NAME=${GITHUB_REPOSITORY,,}
          IMAGE="${{ env.REGISTRY }}/${IMAGE_NAME}"
          TAGS=""

          REF="${{ github.ref }}"
          SHA_SHORT="${GITHUB_SHA::8}"

          if [[ "$REF" == refs/tags/eo-v* ]]; then
            VERSION_RAW="${REF#refs/tags/eo-v}"
            TAGS+="$IMAGE:$VERSION_RAW,"
            if [[ "$VERSION_RAW" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              TAGS+="$IMAGE:latest,"
            fi

          elif [[ "$REF" == refs/heads/master ]]; then
            TAGS+="$IMAGE:latest,"

          elif [[ "$REF" == refs/heads/eo-dev ]]; then
            TAGS+="$IMAGE:dev,$IMAGE:nightly,"

          fi

          TAGS+="$IMAGE:sha-$SHA_SHORT"
          TAGS=${TAGS%,}

          echo "tags=$TAGS" >> $GITHUB_OUTPUT
          echo "Generated tags: $TAGS"

      - name: Set up Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          build-args: |
            GIT_VERSION=${{ github.ref_name }}
            GIT_COMMIT_HASH=${{ github.sha }}
            CARGO_JOBS=4
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push arm64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          build-args: |
            GIT_VERSION=${{ github.ref_name }}
            GIT_COMMIT_HASH=${{ github.sha }}
            CARGO_JOBS=2
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max