name: Build and Push

on:
  push:
    branches: [ "master", "eo-dev" , "eo-dev-*" ]
    tags: [ "eo-v*.*.*" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Determine version and Docker tags
        id: meta
        run: |
          IMAGE_NAME=${GITHUB_REPOSITORY,,}
          IMAGE="${{ env.REGISTRY }}/${IMAGE_NAME}"
          TAGS=""

          REF="${{ github.ref }}"
          SHA_SHORT="${GITHUB_SHA::8}"

          GIT_VERSION=$(git describe --tags --abbrev=0 --match "v*" 2>/dev/null || echo "v0.0.0")

          if [[ "$REF" == refs/tags/eo-v* ]]; then
            VERSION_RAW="${REF#refs/tags/eo-v}"
            TAGS+="$IMAGE:$VERSION_RAW,"
            if [[ "$VERSION_RAW" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              TAGS+="$IMAGE:latest,"
            fi

          elif [[ "$REF" == refs/heads/master ]]; then
            TAGS+="$IMAGE:latest,"

          elif [[ "$REF" == refs/heads/eo-dev ]]; then
            TAGS+="$IMAGE:dev,$IMAGE:nightly,"

          fi

          TAGS+="$IMAGE:sha-$SHA_SHORT"
          TAGS=${TAGS%,}

          echo "git_version=$GIT_VERSION" >> $GITHUB_OUTPUT
          echo "tags=$TAGS" >> $GITHUB_OUTPUT
          echo "Generated tags: $TAGS"
          echo "Using GIT_VERSION: $GIT_VERSION"

      - name: Set up Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            cache-cargo-registry
            cache-cargo-git
            cache-cargo-target
          key: ${{ runner.os }}-rust-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
          restore-keys: |
            ${{ runner.os }}-rust-

      - name: Cache Vue
        uses: actions/cache@v4
        with:
          path: |
            cache-npm
            cache-vue-build
            cache-vue-vite
          key: ${{ runner.os }}-vue-${{ hashFiles('web/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-vue-
    
      - name: Inject Rust Cache
        uses: reproducible-containers/buildkit-cache-dance@v3
        with:
          cache-map: |
            {
              "cache-cargo-registry": "/usr/local/cargo/registry",
              "cache-cargo-git": "/usr/local/cargo/git",
              "cache-cargo-target": "/exposedobserve/target"
            }

      - name: Inject Frontend Cache
        uses: reproducible-containers/buildkit-cache-dance@v3
        with:
          cache-map: |
            {
              "cache-npm": "/root/.npm",
              "cache-vue-vite": "/web/node_modules/.vite",
              "cache-vue-build": "/web/node_modules/.cache"
            }

      - name: Build and push amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          build-args: |
            GIT_VERSION=${{ steps.meta.outputs.git_version }}
            GIT_COMMIT_HASH=${{ github.sha }}
            CARGO_JOBS=4
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha,scope=${{ github.repository }}
          cache-to: type=gha,mode=max,scope=${{ github.repository }}
